apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: smartamazon-frontend-hpa
  namespace: smartamazon
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: smartamazon-frontend
  minReplicas: 2
  maxReplicas: 8
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80

  behavior:
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Percent
          value: 50
          periodSeconds: 60
    scaleUp:
      stabilizationWindowSeconds: 0
      policies:
        - type: Percent
          value: 100
          periodSeconds: 15
        - type: Pods
          value: 3
          periodSeconds: 15
